private
*.user
*.suo
*.log
build/
/tv/tv.db
*.inc
bin/
Debug/
Release/
*.sdf
*.so
*.pyc
*~
dist/
.settings/
*.lib
*.dll
*.exp
.vs/
*.VC.opendb
/ipch/CLIENT_WIN-34da462a/*.ipch
/ipch/CONTROL-SERVER-a31e421b/*.ipch
*.ipch
*.db
*.ts
*.obj
GPATH
GRTAGS
GTAGS
.settings/
.vscode/*.o
*.o
*.a
libs/3rdparty/yami4/lib/
.vscode
.vscode/
.vscode/*
