[submodule "common"]
	path = common
	url = https://github.com/wozio/common.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "libs/3rdparty/googletest"]
	path = libs/3rdparty/googletest
	url = https://github.com/google/googletest.git
