private
*.user
*.suo
*.log
/tv/build/
/dvb-source/build/
/tv/tv.db
/control-server/build/
/dhw-recirculation/build/
/io-relay-board/build/
/test/build/
*.inc
bin
Debug
*.sdf
*.so
*.pyc
/input-output/build/