.indicator-container {
	position: absolute;
	top: 0;
	left:0;
	z-index: 9999;
	width: 100%;
	text-align:center;
	padding: 7px;
}

.indicator {
	display:inline-block;
	box-shadow: 0 0 3px grey;
	padding: 5px;
}