/**** MIXINS ****/
/**** ANIMATIONS ****/
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/**** SPINNERS ****/
.mk-spinner-ring {
  content: "";
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: 15px;
  margin-bottom: 25px;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  border-radius: 50%;
  border: 3px solid rgb(51,122,183);
  border-left-color: transparent;
  background: transparent;
  -moz-animation: rotate 1s infinite linear;
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
}
